<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful Journey</title>
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto&family=Rubik+Moonrocks&display=swap" -->
    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <!-- bootstrap5 link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!--font awesome icon link-->
    <script src="https://kit.fontawesome.com/df5aa5937e.js" crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="title">
                        <!-- logo here__> -->
                        <img src="{{ url_for('static', filename='images/MJCompass.png') }}" width="50px" height="50px">
                        <!-- <a class="navbar-brand title" href="">MJ Logo</a> -->

                        <div class="left-side-nav">
                            <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Learn</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Events</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-side-nav">
                        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                            <li class="nav-item">
                                <input type="search" name="search" id="search" placeholder="Search">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/logout">Sign Out</a>
                            </li>
                            <li class="nav-item">
                                {{session.first_name}} {{session.last_name}}
                            </li>
                            <li class="nav-item">
                                <!-- user image from db -->
                                <img src="{{this_user.user_image}}" alt="" class="user_image">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-dashboard">
            <div class="left_side">
                <h2 class="m-3">Welcome to your Mindful Journey, {{session.first_name}}!</h2>
                <h3 class="m-3">Taking the steps to be the best You!</h3>
                <div class="m-5">
                    <h4>Your Goal:</h4>
                    {% for activity in latest_activity %}
                    <p>{{activity.goal_name}}</p>
                </div>
                <div class="m-5">
                    <h4>Your latest activity:</h4>
                    <p>{{activity.activity_name}}</p>
                    {% endfor %}
                </div>
                <a href="/new/activity" class="m-5"><button class="btn btn-warning signin-btn text-light">Add
                        Activity</button></a>
                <a href="/journal/{{this_user.id}}"><button class="btn btn-warning signin-btn text-light">View Full
                        Journal Entries</button></a>
            </div>
            <div class="content right_side">
          
                <div class="circle-img img5"></div>
                <div class="circle-img img2">Meditation</div>
                <div class="circle-img img3">Sleep</div>
                <div class="circle-img img4">Anxiety</div>
                <div class="circle-img img1"></div>
                <div class="circle-img img6">self apprecation</div>
                <div class="circle-img img7"></div>
                <div class="circle-img img8"></div>
                <div class="circle-img img9"></div>
                <div class="circle-img img10"></div>
            </div>
    </main>
    <!-- java script link -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
<br>
<hr>
<div class="bottom">
    <footer>♥ Created By R2T2</footer>
    <div class="social-icon">    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-envelope"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fab fa-instagram-square"></i></a>
        </li>
        <li>
            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
</div>

</div>
</html>