<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto&family=Rubik+Moonrocks&display=swap" -->
    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- bootstrap5 link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!--font awsome icon link-->
    <script src="https://kit.fontawesome.com/df5aa5937e.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="hero-section">
        <!--  navigation bar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="title">
                        <!-- logo here__> -->
                        <img class='logo' src="{{ url_for('static', filename='images/MJCompass.png') }}" width="50px" height="50px">
                        <div class="left-side-nav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Learn</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Events</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="search" name="search" id="search" placeholder="Search">
                    <div class="right-side-nav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item signin-link">
                                <a href="/login">Contact Us</a>
                            </li>
                            <li class="nav-item signin-link">
                                <a href="/login">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a href="/signup"><button type="button" class="btn btn-warning signin-btn">Sign Up</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mt-3" id="landing_pg_container">
            <!-- <div class="row"> -->
                <div class="col my-3">
                    <h2 class="fs-1 mb-3">MINDFUL JOURNEY</h2>
                    <h4 class="mb-3">Taking steps to be the best You!</h4>
                    <div class="quotes">
                        <h5 class="quote"></h5>
                        <em><h6 class="author"></h6></em>
                    </div>
                    <!-- <img class="brainimg" src="{{ url_for('static', filename='images/mindset-g96504f3be_1920.jpg')}}"> -->
                </div>
                </div>
        <div class="container mt-3" id="landing_pg_container">
                <!-- <div class="col my-3 justify-content-center"> -->
                    <!-- <div class="container justify-content-center">  -->
                        <img class="mainimg" src="{{ url_for('static', filename='images/meditation_cropped.png') }}">
                    <!-- </div>
                    <div class="mb-3"> -->
                        <p>Self care now is more important than ever. We developed this site, with that in mind. Register for free to track your self care journey, receive motivation, and community support.</p>
                        <p class="disclaimer">*We are not licensed medical professionals. Always seek medical advice before making life style changes like diet and exercise</p>
                    </div>
                </div>
            </div>
        



    </div>
   
    
    <!-- <java script link> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>