<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto&family=Rubik+Moonrocks&display=swap" rel="stylesheet"> -->
    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-signup.css') }}">
    <!-- bootstrap5 link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!--font awsome icon link-->
<script src="https://kit.fontawesome.com/df5aa5937e.js" crossorigin="anonymous"></script>

</head>
<body>

<!--  navigation bar -->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="title">
                <!-- logo here__> -->
                <a href="/"><img src="{{ url_for('static', filename='images/MJCompass.png') }}" width="50px" height="50px"></a>
                <div class="left-side-nav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Learn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Events</a>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="search" name="search" id="search" placeholder="Search">
            <div class="right-side-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item signin-link">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <div class="register_container">
        <form action="/create/user" method="post" class="signup-form" enctype="multipart/form-data">
            <h3>Sign Up</h3>
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="input" >
            </div>
            <div>
                <label for="last_name_name">Last Name:</label>
                <input type="text" name="last_name" class="input" >
            </div>
            <div>
                <label   label for="email">Email Address:</label>
                <input type="email" name="email" class="input">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" class="input">
            </div>
            <div>
                <label for="password"> Confirm Password:</label>
                <input type="password" name="confirm_password" class="input">
            </div>
            <div>
                <label for="Upload image">Upload Personal Image</label>
                <input type="file" name="user_image" id="">
            </div>
                <button type="submit" class="btn btn-primary signup-btn">Register</button>
                <div class="conatiner error">
                    <ul>
                        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <li>{{message}}</li><!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </ul>
                </div>
        </form>
<!-- java script link -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
