*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Marcellus SC', serif;
}

.user_image{
    width:200px;
    height:200px; 
}

img{
    width:90px;
    height:90px;
}

/* navigation bar */
.navbar{
    width: 100%;
    margin: 0 auto;
    
}
.collapse{
    background-color: #C3DFE9;
    /* padding: 5px 20px 5px 20px; */
    height:90px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
}

.left-side-nav ul,.right-side-nav ul,.title{
    /* background-color: #20c997; */
    display: flex;
    align-items: center;
    /* gap:20px; */
}
/* left side of nav bar */
.left-side-nav ul{
    width:200px;
}
/* right side of nav bar */
.right-side-nav ul{
    width:600px;
}


* ul li,li a, .nav-item a, .title a{
    color: #343a40;
    
}
 .nav-item a, .title a:hover{
    color: #343a40;
}

.navbar-nav{
    padding-right: 20px;
    width:70%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:15px;
}
a .signin-btn{
    background-color: #339af0;
    color: #343a40;
    padding: 5px 20px;
    border-color:#343a40;

}
a .signin-btn:hover{
    background-color: #2574be;
    color: #343a40;
    border-color:#343a40;
}

.user_image{
    width:75px;
    height:75px;
    border-radius: 50%;
}




.container-dashboard{
    position: relative;
    /* background-color: #ced4da; */
    width:90%;
    height: 600px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* .left_side {
    border: 1px solid black;
} */

.right_side{
    width:65%;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.circle-img{
    width:100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px gray;
}
.circle-img:hover{
    width:170px;
    height:170px;
}
/******************** ANIMATION FOR CIRCLE IMAGES ON DASHBOARD************************** */
.img1{
    width:70px;
    height:70px;
    background-image: url("../images/anatomy-g200a3f688_1280.png");
    background-size:cover;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    align-self: center;
}
.img2{
    width:150px;
    height:150px;
    color: #fff;
    background-image: url("../images/aware-g573baaea6_1920.jpg");
    background-size:cover;
    -webkit-animation: action 2s infinite  alternate;
    animation: action 2s infinite  alternate;
    align-self: center;
}
.img3{
    width:130px;
    height:130px;
    color: rgb(41, 106, 110);
    background-image: url("../images/brain-g2c8f19157_1920.jpg");
    background-size:cover;
    -webkit-animation: action 1.5s infinite  alternate;
    animation: action 1.5s infinite  alternate;
    align-self: flex-end;
}
.img4{
    width:150px;
    height:150px;
    color: #2574be;
    background-image: url("../images/question-g2898929a0_1920.jpg");
    background-size:cover;
    -webkit-animation: action 1.7s infinite  alternate;
    animation: action 1.7s infinite  alternate;
    align-self: center;

}
.img5{
    width:80px;
    height:80px;
    background-image: url("../images/woman-g40851f353_1920.jpg");
    background-size:cover;
    -webkit-animation: action 1.8s infinite  alternate;
    animation: action 1.8s infinite  alternate;
    align-self: flex-end;
    }
    .img6{
        width:160px;
        height:160px;
        color: #fff;
        font-size: 16px;
        background-image: url("../images/harmony-g7ff54946c_1920.jpg");
        background-size:cover;
        -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
        align-self: flex-start;
    }
    .img7{
        background-image: url("../images/rock-g5050bcf3f_1920.jpg");
        background-size:cover;
        -webkit-animation: action 1.7s infinite  alternate;
        animation: action 1.7s infinite  alternate;
        align-self: center;
    }
    .img8{
        background-image: url("../images/meditation-gc2ee6b235_1920.jpg");
        background-size:cover;
        -webkit-animation: action 0.7s infinite  alternate;
        animation: action 0.7s infinite  alternate;
        align-self: flex-end;
    }
    .img9{
        width:115px;
        height:115px;
        background-image: url("../images/relaxation-gf06e7249f_1920.jpg");
        background-size:cover;
        -webkit-animation: action 0.9s infinite  alternate;
        animation: action 0.9s infinite  alternate;
        align-self: flex-end;
    }
    .img10{
        width:120px;
        height:120px;
        background-image: url("../images/question-g6204f06be_1920.png");
        background-size:cover;
        -webkit-animation: action 1.4s infinite  alternate;
        animation: action 1.4s infinite  alternate;
        align-self: center;
    }
    
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/* *************************************************************************************************/


/* FOOTER */
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    
}
footer{
    font-size: 14px;
    color: #343a40;
}
.social-icon{
    width:28%;
    margin: 0 auto;
}
/* **************advice carosoul section************************************* */
.carousel-inner{
    width:800px;
    background-color: #C3DFE9;
    /* background-color: #c3d7ea; */
    padding:0 200px;
}
.slide{
    width:98%;
    margin: 0 auto;
}

/* ***********************************advice box***************** */

.advice_box {
    background-color: #c3d7ea;
    padding:10px 10px;
    margin: 0 auto;
    width:600px;
    height:400px;
    position: absolute;
    top:120px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px grey;
}
@keyframes moveInbottom{
    /* start point */
    0%{ 
        opacity:0;
        /* translate x becuase we want to shift text fron left to right and left mean negative value */
        transform: translateY(30px);
    }
    
    /* endpoint */
    100%{
        opacity:1;
        /* translate 0 means back to origin */
        transform: translate(0px);
    }
}
.advice_box{
    animation: moveInbottom .5s ease-out 2s;
    animation-fill-mode: backwards;
}
.content{
    padding:70px 40px;
    display: flex;
    flex-direction: column;
    gap:70px;
    align-items: center;
    justify-content: space-between;
}


p.close{
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    border: 1px soild black;
    padding:0 5px;
    align-self: flex-end;
}
.close_icon{
    display: flex;
    justify-content: flex-end;
}
.hidden{
    display: none;
}

