

/* **********************navigation bar***************************** */
.navbar {
    width: 100%;
    margin: 0 auto;

}

.collapse {
    background-color: #C3DFE9;
    padding:0 5px;
    height:90px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.left-side-nav ul,
.right-side-nav ul,
.title {
    /* background-color: #20c997; */
    display: flex;
    align-items: center;
    gap: 30px;
}
img{
    width:100px;
    height:100px;
}
li a{
    text-decoration: none;
}

/* left side of nav bar */
.left-side-nav ul {
    width: 200px;

}

/* right side of nav bar */
.right-side-nav ul {
    width: 600px;
}

.user_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
a .signin-btn{
    background-color: #339af0;
    color: #343a40;
    padding: 5px 20px;
    border-color:#343a40;

}
a .signin-btn:hover{
    background-color: #2574be;
    color: #343a40;
    border-color:#343a40;
}
* ul li,
li a,
.nav-item a,
.title a {
    color: #343a40;
}

.nav-item a,
.title a:hover {
    color: #343a40;
}

.sign-in {
    text-decoration: none;

}

i.fas {
    margin-right: 12px;
    font-size: 18px;
}

.navbar-nav {
    padding-right: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
/************************* end nav bar *************************/













/* footer */
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    
}
footer{
    font-size: 14px;
    color: #343a40;
}
.social-icon{
    width:30%;
    margin: 0 auto;
}