*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation bar */
.navbar{
    width: 100%;
    margin: 0 auto;
    
}
.collapse{
    background-color: #ced4da;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}
.left-side-nav ul,.right-side-nav ul,.title{
    /* background-color: #20c997; */
    display: flex;
    gap:50px;
}
/* left side of nav bar */
.left-side-nav ul{
    width:200px;

}
/* right side of nav bar */
.right-side-nav ul{
    width:500px;
}
.user_image{
    width:60px;
    height: 60px;
    border-radius: 50%;
}
* ul li,li a, .nav-item a, .title a{
    color: #343a40;
}
 .nav-item a, .title a:hover{
    color: #343a40;
}
.sign-in{
    text-decoration: none;
    
}
i.fas{
    margin-right: 12px;
    font-size: 18px;
}
.navbar-nav{
    padding-right: 20px;
    width:70%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:15px;
}

.hero-section{
    height: 100vh;
    /* background-image: url("../images/brett-jordan-qF_KGJbgsOo-unsplash.jpg");
    background-size:contain;
    background-repeat: no-repeat; */
}

/* style grid container */
.grid-container{
width:95% ;
height:50vh;
margin: 0 auto;
/* background-color: beige; */
display: grid;
grid-template-columns: 600px 600px;
align-items: center;
justify-items: stretch;
gap:20px;
}
 a .signin-btn{
    background-color: #0ca678;
    color: #343a40;
    padding: 5px 20px;
    border-color:#343a40;

}
a .signin-btn:hover{
    background-color: #20c997;
    color: #343a40;
    border-color:#343a40;
}
