*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login,.register_container{
    height: 100vh;
    background-image: url("../images/mental-health-gd1b43a6ca_1920.png");
    background-size:cover;
    /* background-position:center; */
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
/* style login form */
.login-form{
    background-color:#fff;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* background-color: aquamarine; */
}

#email, #password,.input{
    height:30px;
    width:200px;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 12px;;

}
#signin{
    width:100px;
    height:30px;
    border-radius: 5px;
    cursor: pointer;
}
.email-section,.password-section{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap:10px;

}
svg{
    width:35px;
    height:35px;
    fill: rgb(73, 71, 71);
    /* fill:#CBA587; */
}

.register{
    display: flex;
     align-items: flex-start;
    gap:10px;
}
.register p,.register a{
    margin-top: 0px;
    font-size: 14px;
    color: black;
}

/* sign up style */
/* * ***********************registration form style***************************************** */ */
.register_container{
    width:85%;
    height:100vh;
    background-color: gray;
  

}
h2{
   align-self: center;
}

.signup-form{
    /* background-color: rgb(83, 56, 56); */
    padding:60px;
    /* margin-left: 400px; */
    width:50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;
}
.signup-form  div{
    display: flex;
    justify-content:space-between;
    gap:5px;
    /* background-color: red; */

}
button.signup-btn{
    width:150px;
    align-self: center;
    background-color: black;
 }
 button.signup-btn:hover{
    background-color: rgb(43, 40, 40);
 }
.input{
    width:60%;
    padding-left: 10px;
}